@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


@font-face {
  font-family: 'Norse';
  src: url('norse-webfont.woff2') format('woff2'),
       url('norse-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #93A3F9;
  background: #ffffff;
}

main {
  padding: 0;
  margin: 0.5em;
  margin-bottom: 180px;
}

hr { 
  width: 100%;
  position: fixed;
  top: 0;
  transform: translateZ(0);
  border: none; 
  margin: 0; 
  height: 30px;
  background: url(meander.svg);
  
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
  text-align: center;
}


header h1 {
  font-family: 'Norse';
  font-weight: 200;
  font-size: 3em;
  padding: 1.3em;
  text-transform: uppercase;
  text-decoration: underline wavy #93A3F9;
}

h1, h2 {
  margin: 0;
}


label {
  position: absolute; 
  color: #3C4065;
  transform: translate(10px, -10px);
  background-color: white;
  padding: 0 5px;
}

input {
  font-family: 'Norse';
  font-size: 24px;
  padding: 8px;
  width: 300px;
  border-radius: 10px;
  border: solid #93A3F9 2px;
  outline: none;
}

form {
  margin: 3em 0;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  margin-left: 15px;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  border: none;
  background: url(favicon.png) no-repeat;
  background-size: contain;
  transition: 0.4s;
}

button:hover {
  transform: rotate(180deg);
}


.member-list {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.member-item {
  color: #3C4065;
  box-sizing: border-box;
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 25px;
  text-transform: capitalize;
}

.member-item:hover {
  background-color: #f6f6f6;
}

.cross {
    width: 25px;
    aspect-ratio: 1/1;
    position: relative;
}

.cross::after, .cross::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 4px;
    background: #f76c6c;
    border-radius: 2px;
    transition: 0.2s;
}

.cross:hover::before, .cross:hover::after {
    background: #9a3737;
}

.cross::before {
    width: 19px;
    transform:rotate(-48deg);
}

.cross::after {
    width: 21px;
    transform:rotate(39deg);
}


footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.waves {
  height: 75px;
  width: 100%;
  background: url(wave.png) repeat-x;
  background-position: left 0px bottom -2px;
  background-size: 64px auto;

}

.footerBottom {
  color: #fff;
  background: #93A3F9;
  padding-bottom: 18px;
  margin: 0;
}

.logo {
  max-width: 96px;
}

.infos {
  margin: auto;
  padding: 15px 0;
  max-width: 960px;
  display: flex;
  align-items: center;
}

p {
  margin: 0 10px;
  max-width: 260px;
}

@media screen and (max-width: 526px) {
  .member-item {
    width: 50%;
  }
  .infos {
    justify-content: center;
  }
  p {
    width: 180px;
  }
}